In [1]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [2]:
import pandas as pd

# Join
**pd.merge**

In [3]:
customers =  {
    "CUstomerId" : [1,2,3,4],
    "FirstName" : ["Ali" , "Hasan", "Can" , "Canan"],
    "LastName" : ["Yılmaz","Korkmaz","Çelik","Toprak"]
}

orders = {
    "OrderId" : [10,11,12,13],
    "CUstomerId" : [1,2,7,9],
    "OrderDate" : ["2018-04-07","2018-09-02","2018-03-07","2018-05-07"]
}

df_cutomers = pd.DataFrame(customers , columns=["CUstomerId","FirstName","LastName"])
df_orders = pd.DataFrame(orders,columns=["OrderId","CUstomerId","OrderDate"])

In [5]:
print(df_cutomers)
print()
print(df_orders)

   CUstomerId FirstName LastName
0           1       Ali   Yılmaz
1           2     Hasan  Korkmaz
2           3       Can    Çelik
3           4     Canan   Toprak

   OrderId  CUstomerId   OrderDate
0       10           1  2018-04-07
1       11           2  2018-09-02
2       12           7  2018-03-07
3       13           9  2018-05-07

In [7]:
#customers with orders
result = pd.merge(df_cutomers,df_orders,how="inner")
print(result)

   CUstomerId FirstName LastName  OrderId   OrderDate
0           1       Ali   Yılmaz       10  2018-04-07
1           2     Hasan  Korkmaz       11  2018-09-02

In [8]:
result = pd.merge(df_cutomers,df_orders,how="outer")
print(result)

   CUstomerId FirstName LastName  OrderId   OrderDate
0           1       Ali   Yılmaz     10.0  2018-04-07
1           2     Hasan  Korkmaz     11.0  2018-09-02
2           3       Can    Çelik      NaN         NaN
3           4     Canan   Toprak      NaN         NaN
4           7       NaN      NaN     12.0  2018-03-07
5           9       NaN      NaN     13.0  2018-05-07

In [10]:
result = pd.merge(df_cutomers,df_orders,how="left")
print(result)

   CUstomerId FirstName LastName  OrderId   OrderDate
0           1       Ali   Yılmaz     10.0  2018-04-07
1           2     Hasan  Korkmaz     11.0  2018-09-02
2           3       Can    Çelik      NaN         NaN
3           4     Canan   Toprak      NaN         NaN

In [11]:
result = pd.merge(df_cutomers,df_orders,how="right")
print(result)

   CUstomerId FirstName LastName  OrderId   OrderDate
0           1       Ali   Yılmaz       10  2018-04-07
1           2     Hasan  Korkmaz       11  2018-09-02
2           7       NaN      NaN       12  2018-03-07
3           9       NaN      NaN       13  2018-05-07

# Concat

In [14]:
customersA =  {
    "CUstomerId" : [1,2,3,4],
    "FirstName" : ["Ali" , "Hasan", "Can" , "Canan"],
    "LastName" : ["Yılmaz","Korkmaz","Çelik","Toprak"]
}

customersB =  {
    "CUstomerId" : [4,5,6,7],
    "FirstName" : ["Yağmur" , "CInar", "Cengiz" , "can"],
    "LastName" : ["Yılmaz","Turan","Yılmaz","Toprak"]
}

df_cutomersA = pd.DataFrame(customersA,columns=["CUstomerId","FirstName","LastName"])
df_cutomersB = pd.DataFrame(customersB,columns=["CUstomerId","FirstName","LastName"])

In [16]:
result = pd.concat([df_cutomersA,df_cutomersB]) #axis = 0
print(result)

   CUstomerId FirstName LastName
0           1       Ali   Yılmaz
1           2     Hasan  Korkmaz
2           3       Can    Çelik
3           4     Canan   Toprak
0           4    Yağmur   Yılmaz
1           5     CInar    Turan
2           6    Cengiz   Yılmaz
3           7       can   Toprak

In [17]:
result = pd.concat([df_cutomersA,df_cutomersB] , axis=1)
print(result)

   CUstomerId FirstName LastName  CUstomerId FirstName LastName
0           1       Ali   Yılmaz           4    Yağmur   Yılmaz
1           2     Hasan  Korkmaz           5     CInar    Turan
2           3       Can    Çelik           6    Cengiz   Yılmaz
3           4     Canan   Toprak           7       can   Toprak