In [1]:
import pandas as pd
import numpy as np

In [2]:
pandas_series = pd.Series()
print(pandas_series) # []

Series([], dtype: object)

In [3]:
numbers = [10,20,30,40,50]
pandas_series = pd.Series(numbers)
print(pandas_series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [4]:
letters = ["a","b","c","d"]
pandas_series = pd.Series(letters)
print(pandas_series)

0    a
1    b
2    c
3    d
dtype: object

In [5]:
# Pandasta her data type aynı olmaz zorunda değil farklı veri tiplerini verebilriz
letters = ["a","b","c","d",20,True]
pandas_series = pd.Series(letters)
print(pandas_series)

0       a
1       b
2       c
3       d
4      20
5    True
dtype: object

In [6]:
pandas_series = pd.Series(5, [0,1,2,3])  # (data , index)
print(pandas_series)

0    5
1    5
2    5
3    5
dtype: int64

In [7]:
number = [10,20,30,40,50]
pandas_series = pd.Series(number , ["a","b","c","d","e"])
print(pandas_series)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [8]:
book = {
    "title": "1984",
    "author": "George Orwell",
    "year": 1949,
    "genre": "Dystopian"
}

pandas_dict_series = pd.Series(book)    # key , value değerlerine sahip. index oluşturmaz
print(pandas_dict_series)

title              1984
author    George Orwell
year               1949
genre         Dystopian
dtype: object

In [10]:
# numpy kullanarak pandas sersisi oluşturmak
random_numbers = np.random.randint(10,100,6)
pandasNumpy_series = pd.Series(random_numbers)
print(pandasNumpy_series)

0    82
1    67
2    19
3    95
4    88
5    39
dtype: int64

In [11]:
# numpy kullanarak pandas sersisi oluşturmak
numpy_array = np.array([1,2,3,4,5,6,7,8,9])
pandasNumpy_series2 = pd.Series(numpy_array)
print(pandasNumpy_series2)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [32]:
pandas_series = pd.Series([10,20,30,40,50] , ["a","b","c","d","e"])
print(pandas_series[0]) #indexleri değiştirmemize rağmen 0 dediğiimizde ilk eleman geliyor
print(pandas_series[3])
print(pandas_series[:2])
print(pandas_series[-2:])
print(pandas_series["e"])
print(pandas_series[["e","a"]])

print(pandas_series.ndim)   #dimension = 1
print(pandas_series.dtype)
print(pandas_series.shape)
print(pandas_series.sum())
print(pandas_series.max())
print(pandas_series.min())
print(pandas_series.mean())

result = pandas_series + pandas_series
print(result)

result = pandas_series + 50
print(result)

10
40
a    10
b    20
dtype: int64
d    40
e    50
dtype: int64
50
e    50
a    10
dtype: int64
1
int64
(5,)
150
50
10
30.0
a     20
b     40
c     60
d     80
e    100
dtype: int64
a     60
b     70
c     80
d     90
e    100
dtype: int64

In [34]:
#pandas serisini numpy içerisinde kullanmak
pandas_series = pd.Series([10,20,30,40,50] , ["a","b","c","d","e"])
result = np.sqrt(pandas_series)
print(result)

a    3.162278
b    4.472136
c    5.477226
d    6.324555
e    7.071068
dtype: float64

In [36]:
pandas_series = pd.Series([10,20,30,40,50] , ["a","b","c","d","e"])
result = pandas_series[pandas_series >= 30]
print(result)

c    30
d    40
e    50
dtype: int64

In [42]:
opel2018 = pd.Series([10,20,30,40],["astra","corsa","mokka","insignia"])
opel2019 = pd.Series([40,20,20,40],["astra","corsa","grandland","insignia"])
print(opel2018)
print(opel2019)

total = opel2018 + opel2019       #ortak olmayan değerler için NaN yazdırır(Not a Number)
print(total)
print("Astra : ",total["astra"])

astra       10
corsa       20
mokka       30
insignia    40
dtype: int64
astra        40
corsa        20
grandland    20
insignia     40
dtype: int64
astra        50.0
corsa        40.0
grandland     NaN
insignia     80.0
mokka         NaN
dtype: float64
Astra :  50.0