In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {
    "column1" : [1,2,3,4,5],
    "column2" : [8,7,9,5,8],
    "column3" : ["abcd", "bca","df","at","tvgh"]
}

df = pd.DataFrame(data)
print(df)

   column1  column2 column3
0        1        8    abcd
1        2        7     bca
2        3        9      df
3        4        5      at
4        5        8    tvgh

**Unique**

In [3]:
df["column2"].unique()
# her elemanı bir kez getirir, aynı elemandan varsa çıkartır

array([8, 7, 9, 5])

**nunique**

In [4]:
df["column2"].nunique()  #number of unique

4

**value_counts**

In [5]:
df["column2"].value_counts()
#her elemandan kaç tane var

column2
8    2
7    1
9    1
5    1
Name: count, dtype: int64

**apply**

In [6]:
def square1(x):
  return x*x

square2 = lambda x : x**2

df["column1"].apply(square1) #square'i obje gibi çağirdık, foks. gibi değil

0     1
1     4
2     9
3    16
4    25
Name: column1, dtype: int64

In [7]:
df["column2"].apply(square2)

0    64
1    49
2    81
3    25
4    64
Name: column2, dtype: int64

**apply(len)**

In [8]:
df["column3"].apply(len)

0    4
1    3
2    2
3    2
4    4
Name: column3, dtype: int64

In [9]:
df["column4"] = df["column3"].apply(len)
print(df)

   column1  column2 column3  column4
0        1        8    abcd        4
1        2        7     bca        3
2        3        9      df        2
3        4        5      at        2
4        5        8    tvgh        4

**len**

In [10]:
df.columns

Index(['column1', 'column2', 'column3', 'column4'], dtype='object')

In [11]:
len(df.columns)

4

In [12]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [13]:
len(df.index)

5

**info**

In [14]:
df.info

<bound method DataFrame.info of    column1  column2 column3  column4
0        1        8    abcd        4
1        2        7     bca        3
2        3        9      df        2
3        4        5      at        2
4        5        8    tvgh        4>

**sort_values**

In [15]:
df["column2"].sort_values()

3    5
1    7
0    8
4    8
2    9
Name: column2, dtype: int64

In [16]:
df["column3"].sort_values()

0    abcd
3      at
1     bca
2      df
4    tvgh
Name: column3, dtype: object

In [17]:
df.sort_values("column3" , ascending= False)

   column1  column2 column3  column4
4        5        8    tvgh        4
2        3        9      df        2
1        2        7     bca        3
3        4        5      at        2
0        1        8    abcd        4

**pivot_table**

In [18]:
data = {
    "Month": ["January", "January", "January", "February", "February", "February", "March", "March", "March"],
    "Category": ["Salary", "Investment", "Freelancing", "Salary", "Investment", "Freelancing", "Salary", "Investment", "Freelancing"],
    "Income": [5000, 200, 1500, 5000, 300, 1200, 5000, 250, 1300]
}

df = pd.DataFrame(data)
print(df)

      Month     Category  Income
0   January       Salary    5000
1   January   Investment     200
2   January  Freelancing    1500
3  February       Salary    5000
4  February   Investment     300
5  February  Freelancing    1200
6     March       Salary    5000
7     March   Investment     250
8     March  Freelancing    1300

In [19]:
#tabloyu bazı parametrelere göre ayıralım
result = df.pivot_table(index = "Category",columns="Month", values = "Income")
print(result)

Month        February  January  March
Category
Freelancing      1200     1500   1300
Investment        300      200    250
Salary           5000     5000   5000

In [20]:
result = df.pivot_table(index = "Month",columns="Category", values = "Income")
print(result)

Category  Freelancing  Investment  Salary
Month
February         1200         300    5000
January          1500         200    5000
March            1300         250    5000