In [1]:
from google.colab import drive
drive.mount("/content/gdrive")

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/NBA Team Annual Attendance.xlsx')
print(df)

     Starting Year  Rank       Team  Home: Total Games  \
0             2015     1      Bulls                 41
1             2015     2  Cavaliers                 41
2             2015     3  Mavericks                 41
3             2015     4    Raptors                 41
4             2015     5  NY Knicks                 41
..             ...   ...        ...                ...
471           2000    25   Warriors                 41
472           2000    26       Nets                 41
473           2000    27  Grizzlies                 41
474           2000    28      Hawks                 41
475           2000    29    Rockets                 41

     Home: Total Attendance  Home: Avg Attendance Home: % Capactiy  \
0                    894659                 21820            104.3
1                    843042                 20562              100
2                    825901                 20143            104.9
3                    812863                 19825            100.1
4                    812292                 19812              100
..                      ...                   ...              ...
471                  591981                 14438               --
472                  566077                 13806               --
473                  563218                 13737               --
474                  560324                 13666               --
475                  518555                 12647               --

     Away: Total Games  Away: Total Attendance Away: Avg Attendance  \
0                   41                   18156                 94.5
1                   41                   18910                 98.2
2                   41                   17727                 93.4
3                   41                   17162                 89.2
4                   41                   18440                   96
..                 ...                     ...                  ...
471                 41                   16058                   --
472                 41                   16085                   --
473                 41                   15822                   --
474                 41                   16403                   --
475                 41                   16714                   --

     Away: % Capactiy
0                  82
1                  82
2                  82
3                  82
4                  82
..                ...
471                82
472                82
473                82
474                82
475                82

[476 rows x 11 columns]

In [4]:
df = pd.read_csv("/content/gdrive/MyDrive/Colab Notebooks/Thyroid_Diff.csv")
print(df)

     Age Gender Smoking Hx Smoking Hx Radiothreapy          Thyroid Function  \
0     27      F      No         No              No                 Euthyroid
1     34      F      No        Yes              No                 Euthyroid
2     30      F      No         No              No                 Euthyroid
3     62      F      No         No              No                 Euthyroid
4     62      F      No         No              No                 Euthyroid
..   ...    ...     ...        ...             ...                       ...
378   72      M     Yes        Yes             Yes                 Euthyroid
379   81      M     Yes         No             Yes                 Euthyroid
380   72      M     Yes        Yes              No                 Euthyroid
381   61      M     Yes        Yes             Yes  Clinical Hyperthyroidism
382   67      M     Yes         No              No                 Euthyroid

            Physical Examination Adenopathy       Pathology     Focality  \
0     Single nodular goiter-left         No  Micropapillary    Uni-Focal
1            Multinodular goiter         No  Micropapillary    Uni-Focal
2    Single nodular goiter-right         No  Micropapillary    Uni-Focal
3    Single nodular goiter-right         No  Micropapillary    Uni-Focal
4            Multinodular goiter         No  Micropapillary  Multi-Focal
..                           ...        ...             ...          ...
378  Single nodular goiter-right      Right       Papillary    Uni-Focal
379          Multinodular goiter  Extensive       Papillary  Multi-Focal
380          Multinodular goiter  Bilateral       Papillary  Multi-Focal
381          Multinodular goiter  Extensive    Hurthel cell  Multi-Focal
382          Multinodular goiter  Bilateral       Papillary  Multi-Focal

     Risk    T    N   M Stage                Response Recurred
0     Low  T1a   N0  M0     I           Indeterminate       No
1     Low  T1a   N0  M0     I               Excellent       No
2     Low  T1a   N0  M0     I               Excellent       No
3     Low  T1a   N0  M0     I               Excellent       No
4     Low  T1a   N0  M0     I               Excellent       No
..    ...  ...  ...  ..   ...                     ...      ...
378  High  T4b  N1b  M1   IVB  Biochemical Incomplete      Yes
379  High  T4b  N1b  M1   IVB   Structural Incomplete      Yes
380  High  T4b  N1b  M1   IVB   Structural Incomplete      Yes
381  High  T4b  N1b  M0   IVA   Structural Incomplete      Yes
382  High  T4b  N1b  M0   IVA   Structural Incomplete      Yes

[383 rows x 17 columns]

In [8]:
df = pd.read_json('/content/gdrive/MyDrive/Colab Notebooks/iris.json')
print(df)

     sepalLength  sepalWidth  petalLength  petalWidth    species
0            5.1         3.5          1.4         0.2     setosa
1            4.9         3.0          1.4         0.2     setosa
2            4.7         3.2          1.3         0.2     setosa
3            4.6         3.1          1.5         0.2     setosa
4            5.0         3.6          1.4         0.2     setosa
..           ...         ...          ...         ...        ...
145          6.7         3.0          5.2         2.3  virginica
146          6.3         2.5          5.0         1.9  virginica
147          6.5         3.0          5.2         2.0  virginica
148          6.2         3.4          5.4         2.3  virginica
149          5.9         3.0          5.1         1.8  virginica

[150 rows x 5 columns]

  **türkçe karakterler varsa encoding = 'UTF-8'**