In [1]:
import pandas as pd

In [12]:
# empty data frame
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [13]:
df = pd.DataFrame([1,2,3,4,5])
print(df)

   0
0  1
1  2
2  3
3  4
4  5

# **Dataframe with List**

In [14]:
list1 = [["Ali",80],["Ahmet",75],["Tolga",95]]
df = pd.DataFrame(list1 , columns= ["Name", "Grade"])
print(df)

    Name  Grade
0    Ali     80
1  Ahmet     75
2  Tolga     95

In [15]:
list1 = [["Ali",80],["Ahmet",75],["Tolga",95]]
df = pd.DataFrame(list1 , columns= ["Name", "Grade"], index = [1,2,3])  #parametre ismi göndermediğimizde parametre sırası önemlidir
print(df)

    Name  Grade
1    Ali     80
2  Ahmet     75
3  Tolga     95

# Dataframe with Dictionary

In [16]:
dict1 = {"Name" : ["Tolga","Sema","Ayşenur"] , "Grades" : [85,95,80]}
df = pd.DataFrame(dict1)
print(df)

      Name  Grades
0    Tolga      85
1     Sema      95
2  Ayşenur      80

In [17]:
dict1 = {"Name" : ["Tolga","Sema","Ayşenur"] , "Grades" : [85,95,80]}
df = pd.DataFrame(dict1, index = [1,2,3])
print(df)

      Name  Grades
1    Tolga      85
2     Sema      95
3  Ayşenur      80

In [18]:
list_of_dicts = [                                     # liste içinde dict
    {"name": "Ali", "age": 25, "city": "Istanbul"},
    {"name": "Ayşe", "age": 30, "city": "Ankara"},
    {"name": "Mehmet", "age": 22, "city": "Izmir"},
    {"name": "Fatma", "age": 27, "city": "Bursa"}
]

df = pd.DataFrame(list_of_dicts)
print(df)

     name  age      city
0     Ali   25  Istanbul
1    Ayşe   30    Ankara
2  Mehmet   22     Izmir
3   Fatma   27     Bursa

# Dataframe with Pandas Series

In [22]:
s1 = pd.Series([3,2,0,1])
s2 = pd.Series([0,3,7,9])

In [23]:
list1 = dict(apples = s1 , oranges = s2)  #sütun isimlerine ve bu sütunlara ait veriler
data_frame = pd.DataFrame(list1)
print(data_frame)

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        9

In [24]:
data = {'apples': s1, 'oranges': s2}   #yukardaki ifade ile aynı sonucu verir
data_frame = pd.DataFrame(data)
print(data_frame)

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        9